# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Java
*.class

# Temporales
*.log
*.tmp
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws

# Maven / Gradle
target/
out/

# Node
node_modules/
